.liste-lieux li {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 3.25rem;
}

.liste-lieux li:nth-child(even) {
    flex-direction: row-reverse;
}

.liste-lieux li:last-of-type {
    margin-bottom: 0;
  }

.liste-lieux .textes {
    flex: 1;
}

.liste-lieux .titre {
    font-size: 2.05rem;
    font-weight: bold;
}
.image {
    /* on a fixé la largeur et la hauteur en rem pour être sûr que ça reste responsive */
    width: 32.625rem ;
    height: 27.188rem;
    /* la propriété magique object-fit cover pour recadrer les vraies photos de la fac sans les écraser ou les déformer */
    object-fit: cover; 
    /* le block permet d'éviter l'apparition d'un petit espace vide fantôme sous les images */
    display: block; 
}